  <ion-header>
    <ion-navbar>
      <ion-title>
        Escolha de Curso e Cidade
      </ion-title>
    </ion-navbar>
  </ion-header>


    <head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
</head>


<div>
  <ion-content padding="true" style="height:90vh; background-color:transparent">
    <div style="text-align: center; color:white">
      <br>
      <h1>Qual curso você deseja pesquisar?</h1>
    </div>
    <div class="item-content">
      <img src="assets/imgs/i-hat.svg" class="input-icon"/>
      <input type="text" class="item-box" name="curso1" (input)="getCourseItems($event)" placeholder="Digite um curso" [value]="cr1" [(ngModel)]="cr1">
    <!-- aqui deveria ficar o ion-list 1, estou testando se consigo sobrepor a lista -->
      <div class="list1">
        <ion-list *ngIf="showCourseList">
          <ion-item *ngFor="let item1 of courseItemsFiltered" (click)="replaceCourseItem(item1)">
            {{ item1 }}
          </ion-item>
        </ion-list>
      </div>
    </div>
    <div style="text-align: center; color:white">
      <h1>Escolha a cidade para fazer a pesquisa</h1>
    </div>
    <div class="item-content">
      <img src="assets/imgs/i-school.svg" class="input-icon"/>
      <input type="text" class="item-box" name="cidade1" (input)="getCityItems($event)" placeholder="Digite uma cidade" [value]="ct1" [(ngModel)]="ct1">
      <!-- aqui deveria ficar o ion-list 2, estou testando se consigo sobrepor a lista -->
      <div class="list2">
        <ion-list *ngIf="showCityList">
          <ion-item *ngFor="let item2 of cityItemsFiltered" (click)="replaceCityItem(item2)">
            {{ item2 }}
          </ion-item>
        </ion-list>
      </div>
    </div>
  </ion-content>

    <ion-footer>
      <button ion-button large color="secondary" (click)="checkEntries(ct1, cr1)" >Continuar</button>
    </ion-footer>
</div>
