page-Filtros {

height:auto;
padding: 40px 0;
color:white;
font-family: ProximaNova-Bold;
font-size:20px;
text-align:left;
background-image: linear-gradient(to right, #18ACC4, #05869B 100%);

.subtitle{
  /* Cursos: */
font-family: ProximaNova-Bold;
font-size: 24px;
color: #FFFFFF;
letter-spacing: -0.94px;
text-align: left;
margin-top: 16px;
}

.item-content {
  width: 100%;
  height: 48px;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 5px 10px;
  text-align: left;
  display: flex;
  flex-wrap: wrap;
  align-content:center;
  color: white;
  border: 1px solid white;
  border-radius: 5px;
}

.item-box{
    border: none;
    width: 80%;
    text-align: left;
    word-wrap: break-word;
    font-size: 14px;
    background-color: transparent !important;
    align-content: flex-start;
    padding-left: 5px;
}

.input-icon{
  padding: 10px 0px;
}

input::placeholder{
  color: #eaeaea;
}

i{
  color: white;
  margin-bottom: 1em;
  font-size: 14px;
}

.button-md-secondary{
  //margin-top: 1em;
  width: 100%;
}

.bar-button-md{
  text-transform: none;
}

.footer{
  padding: 15px;
}



}
